<meta name="p:domain_verify" content="c79374ae4b1283e4fdf63e8c8b0240fb" />

{{- if and .IsPage .Params.faq }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{- range $i, $item := .Params.faq }}
    {{- if $i }},{{ end }}
    {
      "@type": "Question",
      "name": {{ $item.question | jsonify | safeJS }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ $item.answer | jsonify | safeJS }}
      }
    }
    {{- end }}
  ]
}
</script>
{{- end }}
