{{- define "main" }}

{{- if site.Params.homeInfoParams }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- $pages = $pages.ByDate.Reverse }}
{{- $featured := first 4 $pages }}

{{- range $index, $page := $featured }}
<article class="post-entry">
  {{- $isHidden := ($page.Param "cover.hiddenInList") | default ($page.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" $page "IsSingle" false "isHidden" $isHidden) }}
  <header class="entry-header">
    <h2 class="entry-hint-parent">
      {{- $page.Title }}
    </h2>
  </header>
  {{- if (ne ($page.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ $page.Summary | plainify | htmlUnescape }}{{ if $page.Truncated }}...{{ end }}</p>
  </div>
  {{- end }}
  {{- if not ($page.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" $page -}}
  </footer>
  {{- end }}
  <a class="entry-link" aria-label="post link to {{ $page.Title | plainify }}" href="{{ $page.Permalink }}"></a>
</article>
{{- end }}

<footer class="page-footer" style="text-align:center; margin-top:2rem;">
  <a class="prev" href="{{ "/posts/" | absURL }}" style="display:inline-block;">
    See All Articles &raquo;
  </a>
</footer>

{{- end }}{{- /* end main */ -}}
